<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Home.css">
    <title>Document</title>
</head>

<body>
    <form method="post" action="/shortner" class="url_form">
        <div class="url_container">
            <h2 id="heading">URL SHORTNER</h2>
            <div class="main_url">
                <input type="text" name="url" placeholder=" " id="url_input" required>
                <label for="url_input"> enter your URL </label>
            </div>
        </div>
        <div class="url_button_container">
            <button id="url_button">submit</button>
        </div>
    </form>

</body>

</html>